# Ignore everything and then include folders and files with extensions
*
!/**/
!*.*

# Exclude folders
.bmx/
.vscode/
.bls-cache/
notes/
old/

# Exclude files
*.bak
*.debug
*.old
*.sh
*.code-workspace
bls.config
runlog.txt
todo.txt

