# Hidden folders
.bmx/
.vscode/

# Hidden Files

# Unimportant clutter
examples/
notes/
old/
test.txt
runlog.txt
*.bak
*.debug

# Private files
post.bmk
update

# Executables
lsp
lsp.debug
lsp.exe
lsp.debug.exe


