# Hidden folders
.bmx/
.vscode/

# Hidden Files

# Private files
post.bmk
update
build.txt
lsp.config

# Executables
lsp
lsp.debug
lsp.exe
lsp.debug.exe

# Unimportant clutter
examples/
notes/
old/
testing/
test.txt
runlog.txt
*.bak
*.debug
*.bmx.bak
*.old

clean
